@import "global/Color";
@import "components/Homepage";
@import "components/Jumbotron";
@import "components/Modal";
@import "components/Navbar";
@import "components/About";
@import "components/Help";
@import "components/Group";
@import "components/CreateAGroup";
@import "components/Loading";
@import "components/Members";
@import "components/Questions";
p,
h1,
h2,
h3,
h4,
table {
  font-family: "Montserrat";
}
