.About {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin: 0px;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 800px;
    h2 {
      color: white;
      background: $highlight;
      padding: 10px;
      border-radius: 10px;
      text-shadow: 2px 2px gray;
    }
  }
}
