.CreateGroup {
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  .addGroup {
    position: absolute;
    left: 5px;
    color: white;
    background-image: linear-gradient(
      to right,
      #577cce,
      #425fb6,
      #2f439e,
      #1d2785,
      #09086b
    );
    // background: $highlight;
    margin-left: 20px;
    text-shadow: 1px 1px gray;
    cursor: pointer;
    top: 60px;
    padding: 10px;
    width: 120px;
    box-shadow: 2px 2px 3px gray;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .addGroup:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
  .addGroup:active {
    transform: scale(0.9);
    transition: 0.2s;
  }
  .addedGroups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
  }
}
