.groupElement {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  margin: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 12px 12px 2px lightgray;
  border-radius: 5px;

  input {
    text-align: center;
  }
  .buttons-group {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(
      to bottom,
      #17e9e0,
      #00e3e8,
      #00dcef,
      #00d5f4,
      #00cef7
    );
    align-items: center;
    height: 100%;
    flex-direction: column;
    // background: $aqua;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 30%;
    button {
      font-size: 0.7em;
      font-weight: 700;
      font-family: "montserrat";
      border: none;
      text-align: center;
      color: white;
      background: none;
      text-shadow: 1px 1px gray;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
    }
    button:hover {
      transform: scale(1.2);
      transition: 0.2s;
    }
  }
  .question {
    position: absolute;
    bottom: 50px;
  }
  .table-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    overflow-x: hidden;
    top: 50px;
  }
  h1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    font-size: 1em;
    height: 30px;
    width: 100%;
    text-shadow: 1px 1px gray;
    background-image: linear-gradient(
      to right,
      #17e9e0,
      #00e3e8,
      #00dcef,
      #00d5f4,
      #00cef7
    );
    color: white;
    align-items: center;
    margin: 0px;
    justify-content: center;
    z-index: 2;
  }
}
