.jumbotron {
  display: flex;
  height: 60vh;
  width: 100%;
  background: gray;
  background-size: contain;
  background-position: center;
  justify-content: center;
  color: white;
  align-items: flex-end;
}
