.members {
  position: absolute;
  right: 10px;
  top: 80px;
  height: 45vh;
  overflow: scroll;
  width: 250px;
  table {
    font-size: 0.8em;
    font-family: "Montserrat";
    td {
      box-shadow: 1px 1px 3px gray;
      padding: 3px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .members::-webkit-scrollbar {
    display: none;
  }
  .members {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
